@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">CRUD ASP.NET CORE 3.1 with MySQL</h1>
    <hr>
    <p>Contact Developer <a href="https://jay-study-nildana.github.io/developerprofile/">Jay</a> if you need additional help</p>
    <p></p>
</div>
