@using System.Web.Http
@using System.Web.Http.Controllers
@using System.Web.Http.Description
@using System.Collections.ObjectModel
@using projectcrudresume.Areas.HelpPage.Models
@model Collection<ApiDescription>

@{
    ViewBag.Title = "Project WT - API Documentation";

    // Group APIs by controller
    ILookup<HttpControllerDescriptor, ApiDescription> apiGroups = Model.ToLookup(api => api.ActionDescriptor.ControllerDescriptor);
}

<link type="text/css" href="~/Areas/HelpPage/HelpPage.css" rel="stylesheet" />
<header class="help-page">
    <div class="content-wrapper">
        <div class="float-left">
            <h1>Project WT API documentation</h1>
        </div>
    </div>
</header>
<div id="body" class="help-page">
    <section class="featured">
        <div class="content-wrapper">
            <h2>Introduction</h2>
            <p>
                Find the API documentation below. This was auto generated but essential information is available here.
            </p>
            <p>Go back home here - @Html.ActionLink("Home", "Index", "Home", new { area = "" }, null)</p>
        </div>
    </section>
    <section class="content-wrapper main-content clear-fix">
        <h2>Get Token Documentation</h2>
        <p>The documentation generator of .NET does not generate documentation. Here is the API call RAW code for token generation</p>
        <p>Alternatively, you could download the postman collection which is available as part of the project source code. Link to the source code is available at the home page linked above</p>
        <p>IMPORTANT NOTE - that the grant type has to be 'password'. dont put the actual account password in that section</p>
        <div>
            <h3>Request</h3>
            <code>
                POST /Token HTTP/1.1
                Content-Type: application/x-www-form-urlencoded
                User-Agent: PostmanRuntime/7.17.1
                Accept: */*
                Cache-Control: no-cache
                Postman-Token: fd91705a-631a-4807-9d54-b3201bbb040e
                Host: localhost:64674
                Accept-Encoding: gzip, deflate
                Content-Length: 83
                Cookie: .AspNet.Cookies=oi
                Connection: keep-alive
                grant_type=password&username=xxxATxxx.com&password=Passwordhere
            </code>
            <hr />
            <h3>Response</h3>
            <code>
                HTTP/1.1 200 OK
                Cache-Control: no-cache
                Pragma: no-cache
                Content-Type: application/json;charset=UTF-8
                Expires: -1
                Server: Microsoft-IIS/10.0
                Set-Cookie: .AspNet.Cookies=Fw path=/; HttpOnly
                X-SourceFiles: =?UTF-8?B?QzpcVXN
                X-Powered-By: ASP.NET
                Date: Fri, 11 Oct 2019 14:34:26 GMT
                Content-Length: 701
                {"access_token":"","token_type":"bearer","expires_in":1209599,"userName":"",".issued":"Fri, 11 Oct 2019 14:34:24 GMT",".expires":"Fri, 25 Oct 2019 14:34:24 GMT"}
                200
            </code>
        </div>
    </section>
    <section class="content-wrapper main-content clear-fix">
        @foreach (var group in apiGroups)
        {
            @Html.DisplayFor(m => group, "ApiGroup")
        }
    </section>
</div>
