<div style="background:transparent !important" class="jumbotron">
    <h1>Simple API Server</h1>
    <p class="lead">This is a simple api server built on top of .net. it has a basic login and password token system built into it.</p>
    <p><a href="https://github.com/Jay-study-nildana/APIServerDotNetWithSimplePasswordToken" class="btn btn-primary btn-lg">Github repository</a></p>
    <p><a href="https://baribasicsapiserverjune21st2020.azurewebsites.net/" class="btn btn-primary btn-lg">live api server for demo purposes</a></p>
    <p><a href="https://baribasicswebappjune23rd2020.azurewebsites.net/" class="btn btn-primary btn-lg">simple web app that consumes this api</a></p>
    <p><a href="/swagger/ui/index" class="btn btn-primary btn-lg">API server documentation - Swagger Version (Recommended)</a></p>
    <p><a href="/Help" class="btn btn-primary btn-lg">API server documentation- Classic ASP NET Help Version</a></p>
    <p><a href="https://jay-study-nildana.github.io/developerprofile/" class="btn btn-primary btn-lg">about developer</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        @*<h2>Getting started</h2>
        <p>ASP.NET Web API is a framework that makes it easy to build HTTP services that reach
        a broad range of clients, including browsers and mobile devices. ASP.NET Web API
        is an ideal platform for building RESTful applications on the .NET Framework.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301870">Learn more &raquo;</a></p>*@
    </div>
    <div class="col-md-4">
        @*<h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301871">Learn more &raquo;</a></p>*@
    </div>
    <div class="col-md-4">
        @*<h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301872">Learn more &raquo;</a></p>*@
    </div>
</div>
