@{
    ViewData["Title"] = "About Project";
}
<h1>@ViewData["Title"]</h1>

<p>About This Project</p>

<p><a href="https://github.com/Jay-study-nildana/CSharpForStudents">C Sharp For Students</a></p>

<p><a href="https://github.com/Jay-study-nildana">Jay (Vijayasimha BR) on GitHub</a></p>


